__pycache__/

# logging
checkpoint/

#saved binaries
checkpoints/

#mujoco log files
MUJOCO_LOG.TXT

#saved binaries
saved/

#virtual env
env_rl4chem/

#notebooks
.ipynb_checkpoints/
store_notebooks/

#datasets
datasets/
filtered_data/
docked_data/
raw_data/
data/

#package dependencies
dockstring/
openbabel.git

#local experiments
store_room/
local_exp/
wandb/
tmp/

#tests
test/

#results
results
results.txt