__pycache__/

# logging
checkpoint/

#saved binaries
checkpoints/

#mujoco log files
MUJOCO_LOG.TXT

#saved binaries
saved/

#virtual env
env_rl4chem/

#notebooks
notebooks/

#datasets
datasets/

#package dependencies
dockstring/
openbabel.git

#local experiments
local_exp/
wandb/
tmp/

#tests
test/

#results
results
results.txt